a {
  text-decoration: none;
}
a:visited {
  color: black;
}
.box_btn {
  transition: 0.5s;
  padding: 0 15px;
  display: inline-block;
  border-radius: 3px;
  background-color: #0092dd;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  border-width: 2px;
}
