* {
  margin: 0;
  padding: 0;
  font: 18px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
.w,
.banner {
  width: 693/40rem;
  margin: 0 auto;
}
html {
  font-size: 100vw/750 * 40;
  background-color: #eff0f4;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
.box_btn {
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 100px;
  transition: 0.5s;
  padding: 0 15px;
  display: inline-block;
  border-radius: 3px;
  background-color: #0092dd;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  border-width: 2px;
}
.banner {
  margin-top: 2px;
}
.banner img {
  margin-top: 30px;
  width: 60%;
  border-radius: 2%;
}
.recognize {
  margin-top: 50px;
}
.detecting {
  position: absolute;
}
.snap {
  position: relative;
  margin-top: 50px;
  transition: 0.5s;
  padding: 0 15px;
  display: inline-block;
  border-radius: 3px;
  background-color: #0092dd;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-width: 2px;
}
