#buttonGroup{
    position: absolute;
    display: block;
    z-index: 99;
    top: 90%;
    left: 25%;
}


.imessage{
    position: absolute;
    display: block;
    z-index: 99;
    top: 10%;
    left: 55%;
}
