* {
  margin: 0;
  padding: 0;
}
.w,
.cover {
  width: 693/40rem;
  margin: 0 auto;
}
html {
  font-size: 100vw/750 * 40;
  background-color: #eff0f4;
}
a {
  text-decoration: none;
}
.back-button i {
  font-size: 100px;
  margin-top: 17px;
  margin-left: 20px ;
}
.cover img {
  width: 100%;
  background-color: red;
}
.title .primary-title {
  font-size: 65px;
  text-align: center;
}
.title .secondary-title {
  font-size: 25px;
  text-align: center;
}
.introduction {
  margin: 50px;
  font-size: 50px;
}
